<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <% results.forEach(function(user){ %>
    <div class="container">
      <img src="/images/<%= user.img_user %>" alt="">
      <h1><%= user.name + " " + user.lastname %></h1>
      <h3> Edad <%= user.age %></h3>
    </div>

  <% }) %>

</body>
</html>