<footer class="bg-footer">
    <div class="container h100">
        <div class="row h100">
            <div class="col-12 text-white centrado centrado-c">
                <h1>Subscribe newsletter</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, architecto.</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">Free Trial</span>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <ul class="nav flex-column text-white centrado">
                    <li>
                        <h4>Menu</h4>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-white href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-white" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-white" href="#">Home</a>
                      </li>
                  </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <ul class="nav flex-column text-white centrado">
                    <li>
                        <h4>Menu</h4>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-white href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-white" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-white" href="#">Home</a>
                      </li>
                  </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <ul class="nav flex-column text-white centrado">
                    <li>
                        <h4>Menu</h4>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-white href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-white" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-white" href="#">Home</a>
                      </li>
                  </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <ul class="nav flex-column text-white centrado">
                    <li>
                        <h4>Menu</h4>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-white href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-white" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-white" href="#">Home</a>
                      </li>
                  </ul>
            </div>
        </div>
    </div>
</footer>
