<div class="row bg-darkblue">
    <div class="col-12 d-flex justify-content-center flex-column p-5">   
        <h3>Massa libero</h3> 
        <hr class="w-25 bg-white ml-0">
        <p class="mb-0 mr-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam recusandae neque amet rerum minus ab, reiciendis quisquam sit ad? Sint nulla harum nostrum laboriosam porro itaque excepturi, earum rerum quibusdam saepe consequatur omnis dolores quo tenetur veniam est quia, magnam vel magni. Facilis eius animi, rem blanditiis odit ex reprehenderit?</p>
        <div class="button">
            <button class="btn btn-outline-light">Get started</button>
        </div>
    </div>
    <div class="col-12 col-md-8">
        <form>
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="inputName4">Name</label>
                    <input type="text" class="form-control bg-clearblue" id="inputEmail4">
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control bg-clearblue" id="inputPassword4">
                </div>
            </div>
            <div class="form-group">
                <label for="inputMessage">Message</label>
                <textarea class="form-control bg-clearblue" rows="5" id="inputMessage" placeholder="1234 Main St">
                </textarea>
            </div>
            <button type="submit" class="btn btn-light">Submit</button>
            <button type="clear"  class="btn btn-outline-light">Clear</button>
        </form>
    </div>
    <div class="col-12 col-md-4 border-left border-light d-flex flex-column align-items-center justify-content-around p-0 h75">
        <div class="email d-flex">
            <div class="icono p-3"> 
                <img src="/images/forty_images/email.png" alt="">
            </div>
            <div class="contact-text">
                <h5>Email</h5>
                <p>info@info.com</p>
            </div>
        </div>
        <hr class="w-100 bg-white">
        <div class="phone d-flex">
            <div class="icono p-3">
                <img src="/images/forty_images/phone-call.png" alt="">
            </div>
            <div class="phone-text">
                <h5>Phone</h5>
                <p>+00 000 000 000</p>
            </div>
        </div>
        <hr class="w-100 bg-white">
        <div class="address d-flex">
            <div class="icono p-3">
                <img src="/images/forty_images/home.png" alt="">
            </div>
            <div class="phone-text">
                <h5>Adress</h5>
                <p>Calle XXXXXX</p>
            </div>
        </div>
    </div>
</div>