<nav class="navbar navbar-expand-lg navbar-light bg-darkblue">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active text-white" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link active text-white" href="#">Services <span class="sr-only">(current)</span></a>
            <a class="nav-link active text-white" href="#">Gallery <span class="sr-only">(current)</span></a>
            <a class="nav-link active text-white" href="#">Blog <span class="sr-only">(current)</span></a>
            <a class="nav-link active text-white" href="#">Contact <span class="sr-only">(current)</span></a>             
        </div>
    </div>
</nav>