<nav class="navbar navbar-expand-lg navbar-light bg-darkblue">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active text-white" href="http://localhost:3000/">Home <span class="sr-only">(current)</span></a>

            <a class="nav-link active text-white" href="http://localhost:3000/create">Create <span class="sr-only">(current)</span></a>
            <a class="nav-link active text-white" href="http://localhost:3000/read">Read <span class="sr-only">(current)</span></a>
            <a class="nav-link active text-white" href="http://localhost:3000/update">Update <span class="sr-only">(current)</span></a>
            <a class="nav-link active text-white" href="http://localhost:3000/delete">Delete <span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>